In [1]:
import pandas as pd

In [34]:
df = pd.read_csv("../data/drugs_2019_duplicated_20210311.csv")

In [35]:
df.columns

Index(['offender_id', 'offense_id', 'dm_offender_race_ethnicity',
       'dm_offender_sex', 'dm_offender_age', 'offender_seq_num',
       'offense_type_id', 'location_id', 'cleared_except_id', 'arrest_type_id',
       'criminal_act_id', 'relationship_id', 'property_count',
       'drug_type_count', 'offense_count', 'drug_offense_count', 'state_abbr',
       'agency'],
      dtype='object')

### One to many Relationships

- offense_type_id
- location_id
- criminal_act_id
- relationship_id

In [42]:
drug_or_equipment_df = df[df["offense_count"] == df["drug_offense_count"]]

In [43]:
drug_or_equipment_df.groupby(["offender_id"]).nunique().describe()

,offense_id,dm_offender_race_ethnicity,dm_offender_sex,dm_offender_age,offender_seq_num,offense_type_id,location_id,cleared_except_id,arrest_type_id,criminal_act_id,relationship_id,property_count,drug_type_count,offense_count,drug_offense_count,state_abbr,agency
count,866414.000000,866414.0,866414.0,866414.000000,866414.0,866414.000000,866414.000000,866414.0,866414.000000,866414.000000,866414.0,866414.0,866414.000000,866414.0,866414.0,866414.0,866414.0
mean,1.287251,1.0,1.0,0.967360,1.0,1.287251,1.006717,1.0,0.689861,1.117596,0.0,1.0,0.872169,1.0,1.0,1.0,1.0
std,0.452480,0.0,0.0,0.177693,0.0,0.452480,0.081684,0.0,0.462551,0.375351,0.0,0.0,0.333902,0.0,0.0,0.0,0.0
min,1.000000,1.0,1.0,0.000000,1.0,1.000000,1.000000,1.0,0.000000,1.000000,0.0,1.0,0.000000,1.0,1.0,1.0,1.0
25%,1.000000,1.0,1.0,1.000000,1.0,1.000000,1.000000,1.0,0.000000,1.000000,0.0,1.0,1.000000,1.0,1.0,1.0,1.0
50%,1.000000,1.0,1.0,1.000000,1.0,1.000000,1.000000,1.0,1.000000,1.000000,0.0,1.0,1.000000,1.0,1.0,1.0,1.0
75%,2.000000,1.0,1.0,1.000000,1.0,2.000000,1.000000,1.0,1.000000,1.000000,0.0,1.0,1.000000,1.0,1.0,1.0,1.0
max,2.000000,1.0,1.0,1.000000,1.0,2.000000,2.000000,1.0,1.000000,6.000000,0.0,1.0,1.000000,1.0,1.0,1.0,1.0

In [44]:
drug_or_equipment_df.criminal_act_id.value_counts()

6.0    958054
8.0    112530
3.0    103683
1.0     20809
7.0     19891
2.0      6469
5.0      3210
4.0       187
Name: criminal_act_id, dtype: int64

## Unique offenses per offender when offense type = Drug
## Go Back to SQL drop other offenses

In [51]:
drug_offences = drug_or_equipment_df.groupby(["offender_id", "location_id", "criminal_act_id"])["offense_type_id"].apply(lambda x: sum([xi == 16 for xi in x]))

In [52]:
sum(drug_offences.values > 1)

0

In [53]:
drug_offences = drug_or_equipment_df[drug_or_equipment_df.offense_type_id == 16].groupby(["offender_id"])

In [55]:
drug_offences.offense_id.nunique().max()

1

In [6]:
df.offense_type_id.value_counts()

16    1123182
35     539708
39      79469
28      51285
23      47754
51      36625
45      23389
11      22209
5       22109
27      21474
49      17576
2       14298
46      14283
21      14269
44      10511
63       9977
40       8637
14       7859
41       5077
47       4123
29       2306
30       1397
7         963
32        737
15        532
36        517
37        421
20        410
56        340
13        272
8         221
57        217
18        192
26        179
62        168
59        165
43        150
38        147
24        147
50        141
12        132
3         112
54        101
61         95
17         79
64         50
31         43
4          40
60         26
55          4
9           4
Name: offense_type_id, dtype: int64